Proyecto Intermodular II/002-Análisis/003-Identificación de los aspectos que facilitan o dificultan el desarrollo de la posible intervención/101-Ejercicios/001-Obligaciones fiscales, laborales y de prevención de riesgos y sus condiciones de aplicación.md
Proyecto Intermodular II/002-Análisis/003-Identificación de los aspectos que facilitan o dificultan el desarrollo de la posible intervención/101-Ejercicios/002-Posibles ayudas o subvenciones para la incorporación de las nuevas tecnologías de producción o de servicio propuestas.md
Proyecto Intermodular II/002-Análisis/003-Identificación de los aspectos que facilitan o dificultan el desarrollo de la posible intervención/101-Ejercicios/003-Guión de trabajo que se va a seguir para la elaboración del proyecto.md
