.jdgraficabarras{
    font-family:sans-serif;
}
.jdgraficabarras td:first-child{
    text-align: right;
}
.jdgraficabarras.barra{
    min-width:0px;
    height:10px;
    background: red;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
}